@tailwind base;
@tailwind components;
@tailwind utilities;

div[img-wrap='working'] {
  height: 200px;
}

@media (min-width: 400px) {
  div[img-wrap='working'] {
    height: 250px;
  }
}

@media (min-width: 540px) {
  div[img-wrap='working'] {
    height: 290px;
  }
}

@media (min-width: 768px) {
  div[img-wrap='working'] {
    height: 200px;
  }
}

@media (min-width: 1280px) {
  div[img-wrap='working'] {
    height: 250px;
  }
}
@media (min-width: 1536px) {
  div[img-wrap='working'] {
    height: 275px;
  }
}
